In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [9]:
df = pd.read_csv('Final_main_exercises_ard.csv')

In [10]:
df

,CNTER_NM,AGE_NAME,GRADE,HE_ht,HE_wt,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,PROGRAM,exercises,sex,age,depression_scale,MultiLabel
0,원주,성인,참가증,162.3,61.80,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '팔벌려뛰기', '엎드려서다리차올리기', '앉았다일어서기',...",2,39.0,a,[1]
1,광명,성인,참가증,174.0,63.68,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,"본운동:넙다리 뒤쪽 스트레칭,넙다리 앞쪽 스트레칭,작은 공을 이용한 동적 루틴 스트...","{'계단올라갔다내려오기', '앉았다일어서기', '넙다리앞쪽스트레칭', '넙다리뒤쪽스...",1,19.0,a,[0]
2,원주,성인,참가증,181.5,74.46,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'팔벌려뛰기', '줄넘기', '하지루틴스트레칭1', '실외자전거타기', '전신루틴...",1,25.0,a,[9]
3,원주,성인,참가증,172.7,62.30,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '무릎높여제자리달리기', '팔벌려뛰기', '엎드려서다리차올리...",1,19.0,a,[9]
4,원주,성인,참가증,171.0,71.98,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '엎드려서다리차올리기', '앉았다일어서기', '넙다리뒤쪽스트...",1,19.0,a,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73752,서초,성인,참가증,171.1,68.00,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",1,25.0,a,"[2, 3, 14, 21]"
73753,서초,성인,참가증,145.9,46.20,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",2,21.0,b,"[2, 3, 14, 21]"
73754,서초,성인,참가증,174.7,59.10,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",1,22.0,b,"[2, 3, 14, 21]"
73755,계룡,성인,2등급,165.5,61.10,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,"준비운동:하지 루틴 스트레칭1,상지 루틴 스트레칭 / 본운동:앉았다 일어서기,한발 ...","{'계단올라갔다내려오기', '몸통옆으로굽히기', '서서균형잡기', '앉았다일어서기'...",2,23.0,a,"[0, 1, 5, 9, 16, 27, 28]"
73756,진천,성인,2등급,173.9,60.70,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,"준비운동:전신 루틴 스트레칭,유산소 운동 전 동적 루틴 스트레칭,짐볼을 이용한 동적...","{'계단올라갔다내려오기', '누워서엉덩이들어올리기', '앉았다일어서기', '엎드려버...",1,20.0,a,"[0, 1, 5, 9, 16, 27, 28]"

## 필요없는 feature 제거
transaction number, 지역, 출장여부, 참가자등급, 날짜 .. 등등

In [11]:
# features
df.columns

Index(['CNTER_NM', 'AGE_NAME', 'GRADE', 'HE_ht', 'HE_wt', 'body_fat', 'HE_dbp',
       'HE_sbp', 'l_average', 'r_average', 'FLEXIBILITY', 'HE_BMI',
       'RELATIVE_GRIP', 'PROGRAM', 'exercises', 'sex', 'age',
       'depression_scale', 'MultiLabel'],
      dtype='object')

In [12]:
# Drop columns
df = df.drop(columns = [ 'HE_ht','HE_wt','CNTER_NM', 'AGE_NAME', 'GRADE', 'PROGRAM', 'exercises'])

# df = df.drop(df.iloc[:,15:],axis = 1)

df

,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,sex,age,depression_scale,MultiLabel
0,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,2,39.0,a,[1]
1,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,1,19.0,a,[0]
2,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,1,25.0,a,[9]
3,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,1,19.0,a,[9]
4,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,1,19.0,a,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...
73752,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,1,25.0,a,"[2, 3, 14, 21]"
73753,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,2,21.0,b,"[2, 3, 14, 21]"
73754,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,1,22.0,b,"[2, 3, 14, 21]"
73755,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,2,23.0,a,"[0, 1, 5, 9, 16, 27, 28]"
73756,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,1,20.0,a,"[0, 1, 5, 9, 16, 27, 28]"

## 연령대 categorical data -> one-hot encoding

In [13]:
# df['AGRDE_FLAG_NM'].unique()

In [14]:
# df.loc[df['AGRDE_FLAG_NM'] == '성인', "AGRDE_FLAG_NM"] = '0'
# df.loc[df['AGRDE_FLAG_NM'] == '노인', "AGRDE_FLAG_NM"] = '1'
# df.loc[df['AGRDE_FLAG_NM'] == '청소년', "AGRDE_FLAG_NM"] = '2'
# df.loc[df['AGRDE_FLAG_NM'] == '유소년', "AGRDE_FLAG_NM"] = '3'

# df

## Depression scale categorical data -> one-hot encoding

In [41]:
df['depression_scale'].unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [42]:
df.loc[df['depression_scale'] == 'a', "depression_scale"] = '0'
df.loc[df['depression_scale'] == 'b', "depression_scale"] = '1'
df.loc[df['depression_scale'] == 'c', "depression_scale"] = '2'
df.loc[df['depression_scale'] == 'd', "depression_scale"] = '0'

df

,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,sex,age,depression_scale,MultiLabel
0,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,2,39.0,0,[1]
1,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,1,19.0,0,[0]
2,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,1,25.0,0,[9]
3,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,1,19.0,0,[9]
4,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,1,19.0,0,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...
73752,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,1,25.0,0,"[2, 3, 14, 21]"
73753,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,2,21.0,1,"[2, 3, 14, 21]"
73754,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,1,22.0,1,"[2, 3, 14, 21]"
73755,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,2,23.0,0,"[0, 1, 5, 9, 16, 27, 28]"
73756,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,1,20.0,0,"[0, 1, 5, 9, 16, 27, 28]"

## Train, Test Set Split

In [44]:
dataset = df.values
dataset

array([[31.1, 78.0, 119.0, ..., 39.0, '0', '[1]'],
       [13.0, 54.0, 109.0, ..., 19.0, '0', '[0]'],
       [16.2, 77.0, 117.0, ..., 25.0, '0', '[9]'],
       ...,
       [9.4, 75.0, 123.0, ..., 22.0, '1', '[2, 3, 14, 21]'],
       [27.9, 58.0, 117.0, ..., 23.0, '0', '[0, 1, 5, 9, 16, 27, 28]'],
       [12.1, 79.0, 134.0, ..., 20.0, '0', '[0, 1, 5, 9, 16, 27, 28]']],
      dtype=object)

In [45]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(dataset, test_size = 0.2, random_state = 42)
print("훈련 데이터 개수 : ", len(train_data))
print("테스트 데이터 개수 : ", len(test_data))

훈련 데이터 개수 :  59005
테스트 데이터 개수 :  14752

In [46]:
X_train = train_data[:,:11]
Y_train_raw = train_data[:,-1]

In [47]:
# X variables 확인
X_train

array([[35.4, 89.0, 126.0, ..., 1, 17.0, '0'],
       [22.1, 85.0, 131.0, ..., 1, 18.0, '0'],
       [25.5, 71.0, 130.0, ..., 2, 38.0, '0'],
       ...,
       [17.3, 70.0, 117.0, ..., 1, 19.0, '0'],
       [33.8, 85.0, 120.0, ..., 2, 20.0, '0'],
       [38.7, 94.0, 137.0, ..., 2, 41.0, '0']], dtype=object)

# Y 값 Multi-Labeling

In [48]:
df['MultiLabel'].unique()

array(['[1]', '[0]', '[9]', '[28]', '[21]', '[16]', '[2]', '[2, 28]',
       '[14]', '[3, 9]', '[3]', '[0, 2, 3, 21]', '[14, 21]', '[27]',
       '[0, 1, 5, 9, 16, 27, 28]', '[0, 1, 5, 9, 16, 21, 27, 28]',
       '[2, 14, 21]', '[5]', '[2, 21]', '[2, 3]', '[2, 3, 14, 21]',
       '[2, 3, 21]', '[0, 1, 5, 9, 14, 16, 27, 28]', '[12]', '[8, 18]',
       '[0, 1, 2, 3, 5, 9, 16, 21, 27, 28]',
       '[0, 1, 2, 3, 5, 9, 14, 16, 21, 27, 28]', '[0, 2]', '[11]', '[24]',
       '[10]', '[6, 10, 15, 20, 24, 25, 26]', '[2, 3, 21, 28]', '[22]',
       '[20]', '[2, 3, 21, 27]', '[0, 1, 2, 5, 9, 14, 16, 21, 27, 28]',
       '[0, 1, 2, 5, 9, 16, 27, 28]', '[2, 8, 18]', '[19]',
       '[2, 3, 14, 21, 28]', '[2, 14, 21, 27]', '[2, 27]', '[23]',
       '[14, 27]', '[2, 3, 27]', '[26]', '[0, 1, 2, 3, 5, 9, 16, 27, 28]',
       '[21, 28]', '[14, 28]', '[6]',
       '[0, 1, 2, 3, 5, 7, 8, 9, 14, 16, 21, 27, 28]',
       '[6, 10, 15, 20, 22, 24, 25, 26]', '[7, 12, 13, 17, 18, 19, 23]',
       '[11, 14]', '[11, 19]', '[17]', '[4, 11]', '[19, 28]', '[4]',
       '[7, 8, 11]', '[2, 3, 14, 20, 21]',
       '[7, 8, 12, 13, 17, 18, 19, 23]', '[20, 22]', '[21, 27]',
       '[0, 21]', '[2, 3, 11, 14, 21]',
       '[4, 7, 8, 11, 12, 13, 17, 18, 19, 23]', '[4, 23]', '[8]',
       '[0, 1, 5, 9, 11, 16, 19, 27, 28]', '[2, 3, 28]', '[7, 8, 11, 27]',
       '[7, 8, 11, 12, 13, 17, 18, 19, 23]',
       '[0, 1, 5, 9, 14, 16, 21, 27, 28]',
       '[0, 1, 5, 8, 9, 16, 18, 27, 28]', '[0, 2, 3, 14, 21]',
       '[2, 3, 7, 8, 14, 21, 28]', '[11, 14, 21, 28]',
       '[2, 3, 7, 8, 11, 14, 21]', '[2, 3, 7, 8, 11, 14, 21, 28]'],
      dtype=object)

In [49]:
## 운동 묶음 라벨이 81개나 존재. Multi-labeling을 해야함
df['MultiLabel'].nunique()

81

In [50]:
Y_train_raw

array(['[14, 27]', '[6, 10, 15, 20, 22, 24, 25, 26]', '[2, 14, 21]', ...,
       '[4, 7, 8, 11, 12, 13, 17, 18, 19, 23]', '[3]', '[2, 3]'],
      dtype=object)

# Y값이 string list 이기에 int list로 바꿔줌

In [51]:
Y_train_int = []
for each in Y_train_raw:
    each = each.replace('[','')
    each = each.replace(']','')
    temp_list = each.split(',')
    temp_list = [int(x) for x in temp_list] 
    Y_train_int.append(temp_list)

In [52]:
# Y_train_int

In [53]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

Y_train = mlb.fit_transform(Y_train_int)
Y_train

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

### Y 값 인코딩이 제대로 되었는지 확인

In [54]:
## 운동 29개로 라벨링 완료
mlb.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28])

In [55]:
print("운동 14, 27 을 가지고 있는 라벨이 동일한 binary 값으로 인코딩 되었음")
print(Y_train_int[0])
print(Y_train_int[4])
print(Y_train[0])
print(Y_train[4])

운동 14, 27 을 가지고 있는 라벨이 동일한 binary 값으로 인코딩 되었음
[14, 27]
[14, 27]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0]

In [56]:
import numpy as np

In [57]:
#test set 대상 똑같은 과정 반복
X_test = test_data[:,:11]
Y_test_raw = test_data[:,-1]

In [58]:
X_test

array([[32.9, 75.0, 125.0, ..., 2, 62.0, '0'],
       [38.9, 76.0, 123.0, ..., 2, 55.0, '0'],
       [36.8, 76.0, 137.0, ..., 2, 64.0, '0'],
       ...,
       [31.3, 82.0, 141.0, ..., 1, 25.0, '0'],
       [37.8, 93.0, 151.0, ..., 2, 61.0, '0'],
       [22.5, 52.0, 100.0, ..., 2, 49.0, '2']], dtype=object)

In [59]:
Y_test_raw

array(['[2, 3, 14, 21]', '[2, 3, 21]',
       '[0, 1, 2, 3, 5, 9, 14, 16, 21, 27, 28]', ..., '[2, 3, 21]',
       '[0, 1, 2, 3, 5, 9, 14, 16, 21, 27, 28]', '[2, 3, 14, 21]'],
      dtype=object)

In [60]:
Y_test_int = []
for each in Y_test_raw:
    each = each.replace('[','')
    each = each.replace(']','')
    temp_list = each.split(',')
    temp_list = [int(x) for x in temp_list] 
    Y_test_int.append(temp_list)

In [61]:
Y_test = mlb.fit_transform(Y_test_int)
Y_test

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 1, 1],
       [0, 0, 1, ..., 0, 0, 0]])

# Decision Tree Model

In [62]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, Y_train)

## train 시킨 모델에 X값을 하나 입력하면 아래와 같이 운동을 처방해줌
## Binary인코딩한 값을 다시 original label로도 inverse_transform 가능

In [63]:
raw_Y = clf.predict([X_test[0]])
mlb.inverse_transform(raw_Y)

[(2, 3, 14, 21)]

In [64]:
y_pred = clf.predict(X_test)

In [65]:
y_true = Y_test

## Multi-label Confusion Matrix

In [66]:
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(y_true, y_pred)

array([[[10221,  2027],
        [ 1884,   620]],

       [[ 9802,  2189],
        [ 2024,   737]],

       [[10547,  1741],
        [ 1790,   674]],

       [[10218,  1759],
        [ 1866,   909]],

       [[11040,  1481],
        [ 1426,   805]],

       [[10258,  2008],
        [ 1871,   615]],

       [[11387,  1088],
        [ 1079,  1198]],

       [[10872,  1595],
        [ 1460,   825]],

       [[10453,  1662],
        [ 1586,  1051]],

       [[10041,  2079],
        [ 1956,   676]],

       [[11453,  1092],
        [ 1077,  1130]],

       [[10825,  1557],
        [ 1485,   885]],

       [[10941,  1560],
        [ 1438,   813]],

       [[10941,  1560],
        [ 1438,   813]],

       [[10352,  1903],
        [ 1892,   605]],

       [[11453,  1092],
        [ 1077,  1130]],

       [[10227,  2024],
        [ 1874,   627]],

       [[10940,  1560],
        [ 1439,   813]],

       [[10940,  1559],
        [ 1439,   814]],

       [[10912,  1568],
        [ 1443,   829]],

       [[11419,  1102],
        [ 1085,  1146]],

       [[10949,  1622],
        [ 1586,   595]],

       [[11130,  1148],
        [ 1165,  1309]],

       [[10940,  1560],
        [ 1438,   814]],

       [[11341,  1114],
        [ 1105,  1192]],

       [[11453,  1092],
        [ 1077,  1130]],

       [[11412,  1099],
        [ 1087,  1154]],

       [[ 8931,  2470],
        [ 2403,   948]],

       [[ 9633,  2190],
        [ 2090,   839]]])

## Classification Report

In [67]:
from sklearn.metrics import classification_report

label_names = ['Exer 0', 'Exer 1', 'Exer 2', 'Exer 3', 'Exer 4', 'Exer 5', 'Exer 6', 'Exer 7', 
               'Exer 8', 'Exer 9', 'Exer 10', 'Exer 11', 'Exer 12','Exer 13','Exer 14','Exer 15',
               'Exer 16 ','Exer 17 ','Exer 18 ','Exer 19 ','Exer 20 ','Exer 21 ','Exer 22 ',
               'Exer 23 ','Exer 24 ','Exer 25 ','Exer 26 ','Exer 27 ','Exer 28 ']

print(classification_report(y_true, y_pred,target_names=label_names))

              precision    recall  f1-score   support

      Exer 0       0.23      0.25      0.24      2504
      Exer 1       0.25      0.27      0.26      2761
      Exer 2       0.28      0.27      0.28      2464
      Exer 3       0.34      0.33      0.33      2775
      Exer 4       0.35      0.36      0.36      2231
      Exer 5       0.23      0.25      0.24      2486
      Exer 6       0.52      0.53      0.53      2277
      Exer 7       0.34      0.36      0.35      2285
      Exer 8       0.39      0.40      0.39      2637
      Exer 9       0.25      0.26      0.25      2632
     Exer 10       0.51      0.51      0.51      2207
     Exer 11       0.36      0.37      0.37      2370
     Exer 12       0.34      0.36      0.35      2251
     Exer 13       0.34      0.36      0.35      2251
     Exer 14       0.24      0.24      0.24      2497
     Exer 15       0.51      0.51      0.51      2207
    Exer 16        0.24      0.25      0.24      2501
    Exer 17        0.34      0.36      0.35      2252
    Exer 18        0.34      0.36      0.35      2253
    Exer 19        0.35      0.36      0.36      2272
    Exer 20        0.51      0.51      0.51      2231
    Exer 21        0.27      0.27      0.27      2181
    Exer 22        0.53      0.53      0.53      2474
    Exer 23        0.34      0.36      0.35      2252
    Exer 24        0.52      0.52      0.52      2297
    Exer 25        0.51      0.51      0.51      2207
    Exer 26        0.51      0.51      0.51      2241
    Exer 27        0.28      0.28      0.28      3351
    Exer 28        0.28      0.29      0.28      2929

   micro avg       0.36      0.37      0.36     70276
   macro avg       0.36      0.37      0.37     70276
weighted avg       0.36      0.37      0.36     70276
 samples avg       0.35      0.35      0.31     70276

In [68]:
from sklearn import metrics
print("None ", metrics.precision_score(y_true, y_pred, average=None))

None  [0.23422743 0.2518797  0.27908903 0.34070465 0.35214348 0.23446435
 0.52405949 0.34090909 0.38739403 0.24537205 0.50855086 0.36240786
 0.3426043  0.3426043  0.24122807 0.50855086 0.23651452 0.3426043
 0.34302571 0.34584898 0.50978648 0.26838069 0.53276353 0.34288121
 0.5169124  0.50855086 0.51220595 0.27735518 0.27698911]

In [69]:
## Precision
print("micro: {:.2f}".format(metrics.precision_score(y_true, y_pred, average='micro')))
print("macro: {:.2f} ".format( metrics.precision_score(y_true, y_pred, average='macro')))
print("weighted: {:.2f} ".format( metrics.precision_score(y_true, y_pred, average='weighted')))
print("samples: {:.2f} ".format( metrics.precision_score(y_true, y_pred, average='samples')))

micro: 0.36
macro: 0.36
weighted: 0.36
samples: 0.35