In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('Final_main_exercises_ard.csv')

In [3]:
df

,CNTER_NM,AGE_NAME,GRADE,HE_ht,HE_wt,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,PROGRAM,exercises,sex,age,depression_scale,MultiLabel
0,원주,성인,참가증,162.3,61.80,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '팔벌려뛰기', '엎드려서다리차올리기', '앉았다일어서기',...",2,39.0,a,[1]
1,광명,성인,참가증,174.0,63.68,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,"본운동:넙다리 뒤쪽 스트레칭,넙다리 앞쪽 스트레칭,작은 공을 이용한 동적 루틴 스트...","{'계단올라갔다내려오기', '앉았다일어서기', '넙다리앞쪽스트레칭', '넙다리뒤쪽스...",1,19.0,a,[0]
2,원주,성인,참가증,181.5,74.46,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'팔벌려뛰기', '줄넘기', '하지루틴스트레칭1', '실외자전거타기', '전신루틴...",1,25.0,a,[9]
3,원주,성인,참가증,172.7,62.30,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '무릎높여제자리달리기', '팔벌려뛰기', '엎드려서다리차올리...",1,19.0,a,[9]
4,원주,성인,참가증,171.0,71.98,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,"본운동:넙다리 뒤쪽 스트레칭,상지 루틴 스트레칭,전신 루틴 스트레칭,하지 루틴 스트...","{'전신루틴스트레칭', '엎드려서다리차올리기', '앉았다일어서기', '넙다리뒤쪽스트...",1,19.0,a,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73752,서초,성인,참가증,171.1,68.00,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",1,25.0,a,"[2, 3, 14, 21]"
73753,서초,성인,참가증,145.9,46.20,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",2,21.0,b,"[2, 3, 14, 21]"
73754,서초,성인,참가증,174.7,59.10,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:앉았다 일어서기,의자 앞에서...","{'네발기기자세로팔다리들기', '누워서엉덩이들어올리기', '앉았다일어서기', '누워...",1,22.0,b,"[2, 3, 14, 21]"
73755,계룡,성인,2등급,165.5,61.10,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,"준비운동:하지 루틴 스트레칭1,상지 루틴 스트레칭 / 본운동:앉았다 일어서기,한발 ...","{'계단올라갔다내려오기', '몸통옆으로굽히기', '서서균형잡기', '앉았다일어서기'...",2,23.0,a,"[0, 1, 5, 9, 16, 27, 28]"
73756,진천,성인,2등급,173.9,60.70,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,"준비운동:전신 루틴 스트레칭,유산소 운동 전 동적 루틴 스트레칭,짐볼을 이용한 동적...","{'계단올라갔다내려오기', '누워서엉덩이들어올리기', '앉았다일어서기', '엎드려버...",1,20.0,a,"[0, 1, 5, 9, 16, 27, 28]"

## 필요없는 feature 제거
transaction number, 지역, 출장여부, 참가자등급, 날짜 .. 등등

In [4]:
# features
df.columns

Index(['CNTER_NM', 'AGE_NAME', 'GRADE', 'HE_ht', 'HE_wt', 'body_fat', 'HE_dbp',
       'HE_sbp', 'l_average', 'r_average', 'FLEXIBILITY', 'HE_BMI',
       'RELATIVE_GRIP', 'PROGRAM', 'exercises', 'sex', 'age',
       'depression_scale', 'MultiLabel'],
      dtype='object')

In [5]:
# Drop columns
df = df.drop(columns = ['CNTER_NM','AGE_NAME', 'GRADE', 'PROGRAM', 'exercises']) 


# df = df.drop(df.iloc[:,15:],axis = 1)

df

,HE_ht,HE_wt,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,sex,age,depression_scale,MultiLabel
0,162.3,61.80,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,2,39.0,a,[1]
1,174.0,63.68,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,1,19.0,a,[0]
2,181.5,74.46,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,1,25.0,a,[9]
3,172.7,62.30,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,1,19.0,a,[9]
4,171.0,71.98,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,1,19.0,a,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73752,171.1,68.00,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,1,25.0,a,"[2, 3, 14, 21]"
73753,145.9,46.20,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,2,21.0,b,"[2, 3, 14, 21]"
73754,174.7,59.10,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,1,22.0,b,"[2, 3, 14, 21]"
73755,165.5,61.10,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,2,23.0,a,"[0, 1, 5, 9, 16, 27, 28]"
73756,173.9,60.70,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,1,20.0,a,"[0, 1, 5, 9, 16, 27, 28]"

In [6]:
df['depression_scale'].unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [7]:
df.loc[df['depression_scale'] == 'a', "depression_scale"] = '0'
df.loc[df['depression_scale'] == 'b', "depression_scale"] = '1'
df.loc[df['depression_scale'] == 'c', "depression_scale"] = '2'
df.loc[df['depression_scale'] == 'd', "depression_scale"] = '3'

df

,HE_ht,HE_wt,body_fat,HE_dbp,HE_sbp,l_average,r_average,FLEXIBILITY,HE_BMI,RELATIVE_GRIP,sex,age,depression_scale,MultiLabel
0,162.3,61.80,31.1,78.0,119.0,21.7,24.1,18.5,23.5,38.9,2,39.0,0,[1]
1,174.0,63.68,13.0,54.0,109.0,32.6,35.2,16.9,21.0,55.2,1,19.0,0,[0]
2,181.5,74.46,16.2,77.0,117.0,43.0,44.7,15.8,22.6,60.0,1,25.0,0,[9]
3,172.7,62.30,10.4,62.0,99.0,35.1,36.7,2.4,20.9,58.9,1,19.0,0,[9]
4,171.0,71.98,14.9,66.0,120.0,34.4,43.5,-3.4,24.6,60.4,1,19.0,0,[9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73752,171.1,68.00,23.4,76.0,126.0,37.7,37.6,13.6,23.2,55.4,1,25.0,0,"[2, 3, 14, 21]"
73753,145.9,46.20,30.7,76.0,119.0,19.6,21.3,7.5,21.7,46.1,2,21.0,1,"[2, 3, 14, 21]"
73754,174.7,59.10,9.4,75.0,123.0,46.1,45.4,29.1,19.4,78.0,1,22.0,1,"[2, 3, 14, 21]"
73755,165.5,61.10,27.9,58.0,117.0,24.0,29.3,22.3,22.3,48.0,2,23.0,0,"[0, 1, 5, 9, 16, 27, 28]"
73756,173.9,60.70,12.1,79.0,134.0,40.9,42.9,18.7,20.1,70.7,1,20.0,0,"[0, 1, 5, 9, 16, 27, 28]"

## Train, Test Set Split

In [8]:
dataset = df.values
dataset

array([[162.3, 61.8, 31.1, ..., 39.0, '0', '[1]'],
       [174.0, 63.68, 13.0, ..., 19.0, '0', '[0]'],
       [181.5, 74.46, 16.2, ..., 25.0, '0', '[9]'],
       ...,
       [174.7, 59.1, 9.4, ..., 22.0, '1', '[2, 3, 14, 21]'],
       [165.5, 61.1, 27.9, ..., 23.0, '0', '[0, 1, 5, 9, 16, 27, 28]'],
       [173.9, 60.7, 12.1, ..., 20.0, '0', '[0, 1, 5, 9, 16, 27, 28]']],
      dtype=object)

In [9]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(dataset, test_size = 0.3, random_state = 42)
print("훈련 데이터 개수 : ", len(train_data))
print("테스트 데이터 개수 : ", len(test_data))

훈련 데이터 개수 :  51629
테스트 데이터 개수 :  22128

In [10]:
X_train = train_data[:,:13]
Y_train_raw = train_data[:,-1]

In [11]:
# X variables 확인
X_train

array([[178.0, 68.0, 16.5, ..., 1, 15.0, '0'],
       [174.5, 68.2, 10.0, ..., 1, 18.0, '1'],
       [162.2, 55.6, 27.4, ..., 2, 37.0, '0'],
       ...,
       [173.7, 67.1, 17.3, ..., 1, 19.0, '0'],
       [168.5, 70.5, 33.8, ..., 2, 20.0, '0'],
       [148.1, 56.3, 38.7, ..., 2, 41.0, '0']], dtype=object)

# Y 값 Multi-Labeling

In [12]:
df['MultiLabel'].unique()

array(['[1]', '[0]', '[9]', '[28]', '[21]', '[16]', '[2]', '[2, 28]',
       '[14]', '[3, 9]', '[3]', '[0, 2, 3, 21]', '[14, 21]', '[27]',
       '[0, 1, 5, 9, 16, 27, 28]', '[0, 1, 5, 9, 16, 21, 27, 28]',
       '[2, 14, 21]', '[5]', '[2, 21]', '[2, 3]', '[2, 3, 14, 21]',
       '[2, 3, 21]', '[0, 1, 5, 9, 14, 16, 27, 28]', '[12]', '[8, 18]',
       '[0, 1, 2, 3, 5, 9, 16, 21, 27, 28]',
       '[0, 1, 2, 3, 5, 9, 14, 16, 21, 27, 28]', '[0, 2]', '[11]', '[24]',
       '[10]', '[6, 10, 15, 20, 24, 25, 26]', '[2, 3, 21, 28]', '[22]',
       '[20]', '[2, 3, 21, 27]', '[0, 1, 2, 5, 9, 14, 16, 21, 27, 28]',
       '[0, 1, 2, 5, 9, 16, 27, 28]', '[2, 8, 18]', '[19]',
       '[2, 3, 14, 21, 28]', '[2, 14, 21, 27]', '[2, 27]', '[23]',
       '[14, 27]', '[2, 3, 27]', '[26]', '[0, 1, 2, 3, 5, 9, 16, 27, 28]',
       '[21, 28]', '[14, 28]', '[6]',
       '[0, 1, 2, 3, 5, 7, 8, 9, 14, 16, 21, 27, 28]',
       '[6, 10, 15, 20, 22, 24, 25, 26]', '[7, 12, 13, 17, 18, 19, 23]',
       '[11, 14]', '[11, 19]', '[17]', '[4, 11]', '[19, 28]', '[4]',
       '[7, 8, 11]', '[2, 3, 14, 20, 21]',
       '[7, 8, 12, 13, 17, 18, 19, 23]', '[20, 22]', '[21, 27]',
       '[0, 21]', '[2, 3, 11, 14, 21]',
       '[4, 7, 8, 11, 12, 13, 17, 18, 19, 23]', '[4, 23]', '[8]',
       '[0, 1, 5, 9, 11, 16, 19, 27, 28]', '[2, 3, 28]', '[7, 8, 11, 27]',
       '[7, 8, 11, 12, 13, 17, 18, 19, 23]',
       '[0, 1, 5, 9, 14, 16, 21, 27, 28]',
       '[0, 1, 5, 8, 9, 16, 18, 27, 28]', '[0, 2, 3, 14, 21]',
       '[2, 3, 7, 8, 14, 21, 28]', '[11, 14, 21, 28]',
       '[2, 3, 7, 8, 11, 14, 21]', '[2, 3, 7, 8, 11, 14, 21, 28]'],
      dtype=object)

In [13]:
## 운동 묶음 라벨이 81개나 존재. Multi-labeling을 해야함
df['MultiLabel'].nunique()

81

In [14]:
Y_train_raw

array(['[6, 10, 15, 20, 22, 24, 25, 26]', '[14, 27]', '[2, 3, 21]', ...,
       '[4, 7, 8, 11, 12, 13, 17, 18, 19, 23]', '[3]', '[2, 3]'],
      dtype=object)

In [15]:
Y_train_int = []
for each in Y_train_raw:
    each = each.replace('[','')
    each = each.replace(']','')
    temp_list = each.split(',')
    temp_list = [int(x) for x in temp_list] 
    Y_train_int.append(temp_list)

In [16]:
# Y_train_int

In [17]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

Y_train = mlb.fit_transform(Y_train_int)
Y_train

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

### Y 값 인코딩이 제대로 되었는지 확인

In [19]:
## 운동 29개로 클래스 구분 완료
mlb.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28])

In [28]:
print("운동 14, 21 을 가지고 있는 라벨이 동일한 binary 값으로 인코딩 되었음")
print(Y_train_int[6])
print(Y_train_int[7])
print(Y_train[6])
print(Y_train[7])

운동 14, 21 을 가지고 있는 라벨이 동일한 binary 값으로 인코딩 되었음
[14, 21]
[14, 21]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0]

In [29]:
import numpy as np

In [30]:
#test set 대상 똑같은 과정 반복
X_test = test_data[:,:13]
Y_test_raw = test_data[:,-1]

In [31]:
X_test

array([[152.7, 52.42, 32.9, ..., 2, 62.0, '0'],
       [159.0, 60.36, 38.9, ..., 2, 55.0, '0'],
       [154.5, 63.1, 36.8, ..., 2, 64.0, '0'],
       ...,
       [157.2, 53.2, 25.4, ..., 2, 18.0, '0'],
       [158.1, 51.7, 27.7, ..., 2, 51.0, '0'],
       [158.0, 55.6, 22.5, ..., 2, 30.0, '0']], dtype=object)

In [32]:
Y_test_raw

array(['[2, 3, 14, 21]', '[2, 3, 21]',
       '[0, 1, 2, 3, 5, 9, 14, 16, 21, 27, 28]', ...,
       '[6, 10, 15, 20, 22, 24, 25, 26]', '[8]', '[1]'], dtype=object)

In [33]:
Y_test_int = []
for each in Y_test_raw:
    each = each.replace('[','')
    each = each.replace(']','')
    temp_list = each.split(',')
    temp_list = [int(x) for x in temp_list] 
    Y_test_int.append(temp_list)

In [34]:
Y_test = mlb.fit_transform(Y_test_int)
Y_test

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

# Decision Tree Model

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn import tree

param_grid = {'max_features': ['auto', 'sqrt', 'log2'],
              'ccp_alpha': [0.1, .01, .001, .0001, 0.00001],
              'max_depth' : [5, 7, 9],
              'criterion' :['gini', 'entropy']
             }

tree_clf = tree.DecisionTreeClassifier(random_state=24)
clf = GridSearchCV(estimator=tree_clf, param_grid=param_grid, cv=5, verbose=True)
clf.fit(X_train, Y_train)

In [36]:
clf.best_params_

{'ccp_alpha': 1e-05,
 'criterion': 'gini',
 'max_depth': 9,
 'max_features': 'auto'}

In [37]:
df_x = df.drop(labels='MultiLabel',axis=1)
print(df_x.columns)

Index(['HE_ht', 'HE_wt', 'body_fat', 'HE_dbp', 'HE_sbp', 'l_average',
       'r_average', 'FLEXIBILITY', 'HE_BMI', 'RELATIVE_GRIP', 'sex', 'age',
       'depression_scale'],
      dtype='object')

In [48]:
y_pred = clf.predict(X_test)

In [49]:
y_true = Y_test

## Multi-label Confusion Matrix

In [50]:
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(y_true, y_pred)

array([[[18267,    79],
        [ 3714,    68]],

       [[17839,   110],
        [ 4082,    97]],

       [[18456,    17],
        [ 3642,    13]],

       [[17925,   112],
        [ 3969,   122]],

       [[18592,   199],
        [ 3173,   164]],

       [[18301,    79],
        [ 3680,    68]],

       [[17218,  1450],
        [ 1618,  1842]],

       [[18549,   145],
        [ 3342,    92]],

       [[17806,   350],
        [ 3622,   350]],

       [[18087,    78],
        [ 3894,    69]],

       [[17369,  1399],
        [ 1675,  1685]],

       [[18265,   325],
        [ 3247,   291]],

       [[18600,   145],
        [ 3291,    92]],

       [[18603,   145],
        [ 3288,    92]],

       [[18332,    24],
        [ 3764,     8]],

       [[17369,  1399],
        [ 1675,  1685]],

       [[18274,    79],
        [ 3707,    68]],

       [[18602,   145],
        [ 3289,    92]],

       [[18601,   145],
        [ 3290,    92]],

       [[18566,   145],
        [ 3325,    92]],

       [[17342,  1393],
        [ 1687,  1706]],

       [[18848,    11],
        [ 3265,     4]],

       [[16723,  1669],
        [ 1753,  1983]],

       [[18602,   145],
        [ 3289,    92]],

       [[17263,  1372],
        [ 1699,  1794]],

       [[17369,  1399],
        [ 1675,  1685]],

       [[17296,  1422],
        [ 1666,  1744]],

       [[16993,    80],
        [ 4964,    91]],

       [[17635,   113],
        [ 4275,   105]]])

## Classification Report

In [51]:
from sklearn.metrics import classification_report

label_names = ['Exer 0', 'Exer 1', 'Exer 2', 'Exer 3', 'Exer 4', 'Exer 5', 'Exer 6', 'Exer 7', 
               'Exer 8', 'Exer 9', 'Exer 10', 'Exer 11', 'Exer 12','Exer 13','Exer 14','Exer 15',
               'Exer 16 ','Exer 17 ','Exer 18 ','Exer 19 ','Exer 20 ','Exer 21 ','Exer 22 ',
               'Exer 23 ','Exer 24 ','Exer 25 ','Exer 26 ','Exer 27 ','Exer 28 ']

print(classification_report(y_true, y_pred,target_names=label_names))

              precision    recall  f1-score   support

      Exer 0       0.46      0.02      0.03      3782
      Exer 1       0.47      0.02      0.04      4179
      Exer 2       0.43      0.00      0.01      3655
      Exer 3       0.52      0.03      0.06      4091
      Exer 4       0.45      0.05      0.09      3337
      Exer 5       0.46      0.02      0.03      3748
      Exer 6       0.56      0.53      0.55      3460
      Exer 7       0.39      0.03      0.05      3434
      Exer 8       0.50      0.09      0.15      3972
      Exer 9       0.47      0.02      0.03      3963
     Exer 10       0.55      0.50      0.52      3360
     Exer 11       0.47      0.08      0.14      3538
     Exer 12       0.39      0.03      0.05      3383
     Exer 13       0.39      0.03      0.05      3380
     Exer 14       0.25      0.00      0.00      3772
     Exer 15       0.55      0.50      0.52      3360
    Exer 16        0.46      0.02      0.03      3775
    Exer 17        0.39      0.03      0.05      3381
    Exer 18        0.39      0.03      0.05      3382
    Exer 19        0.39      0.03      0.05      3417
    Exer 20        0.55      0.50      0.53      3393
    Exer 21        0.27      0.00      0.00      3269
    Exer 22        0.54      0.53      0.54      3736
    Exer 23        0.39      0.03      0.05      3381
    Exer 24        0.57      0.51      0.54      3493
    Exer 25        0.55      0.50      0.52      3360
    Exer 26        0.55      0.51      0.53      3410
    Exer 27        0.53      0.02      0.03      5055
    Exer 28        0.48      0.02      0.05      4380

   micro avg       0.53      0.15      0.24    105846
   macro avg       0.46      0.16      0.18    105846
weighted avg       0.46      0.15      0.18    105846
 samples avg       0.15      0.13      0.12    105846

/opt/homebrew/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [52]:
from sklearn import metrics
print("Precision for each class: ", metrics.precision_score(y_true, y_pred, average=None))

Precision for each class:  [0.46258503 0.46859903 0.43333333 0.52136752 0.45179063 0.46258503
 0.55953827 0.38818565 0.5        0.46938776 0.54636835 0.4724026
 0.38818565 0.38818565 0.25       0.54636835 0.46258503 0.38818565
 0.38818565 0.38818565 0.55050016 0.26666667 0.54299014 0.38818565
 0.56664561 0.54636835 0.55085281 0.53216374 0.48165138]

In [53]:
## Precision
print("micro: {:.2f}".format(metrics.precision_score(y_true, y_pred, average='micro')))
print("macro: {:.2f} ".format( metrics.precision_score(y_true, y_pred, average='macro')))
print("weighted: {:.2f} ".format( metrics.precision_score(y_true, y_pred, average='weighted')))

micro: 0.53
macro: 0.46
weighted: 0.46